In [23]:
import pandas as pd
import pingouin as pg
import numpy as np
import seaborn as sns
import seaborn as sns


# data = 'example.csv'
# df = pd.read_csv(data, index_col=0)
df.head()

d = {'Patterns': ['Pattern1', 'Pattern1', 'Pattern1', 'Pattern1', 'Pattern1', 'Pattern2', 'Pattern2', 'Pattern2', 'Pattern2', 'Pattern2', 'Pattern3', 'Pattern3', 'Pattern3', 'Pattern3', 'Pattern3'], 
     'Times': [13, 11, 8, 11, 8, 13, 11, 14,14, 10, 4, 1, 3, 4, 2]}
df = pd.DataFrame(data=d)
df.head()

   Patterns  Times
0  Pattern1     13
1  Pattern1     11
2  Pattern1      8
3  Pattern1     11
4  Pattern1      8

In [24]:
question = "Times"

In [25]:
normality = pg.normality(df, group='Patterns', dv=question)
print("Normality: ", normality)

Normality:                   W      pval  normal
Pattern1  0.871300  0.271728    True
Pattern2  0.866836  0.253846    True
Pattern3  0.902020  0.421149    True

In [29]:
homoscedasticity = pg.homoscedasticity(df, group='Patterns', dv=question)
print("Homoscedasticity: ", homoscedasticity)

Homoscedasticity:                 W      pval  equal_var
levene  0.341463  0.717415       True

In [30]:
aov = pg.anova(dv=question, between=["Patterns"], data=df, detailed=True)
print("ANOVA: \n", aov)

ANOVA:
      Source          SS  DF          MS          F     p-unc       np2
0  Patterns  252.933333   2  126.466667  39.113402  0.000006  0.867002
1    Within   38.800000  12    3.233333        NaN       NaN       NaN

In [32]:
ttest = pg.pairwise_ttests(dv=question, between='Patterns', data=df).round(7)
print("T-test: \n", ttest)

T-test:
    Contrast         A         B  Paired  Parametric         T  dof  \
0  Patterns  Pattern1  Pattern2   False        True -1.739253  8.0
1  Patterns  Pattern1  Pattern3   False        True  6.540738  8.0
2  Patterns  Pattern2  Pattern3   False        True  9.600000  8.0

  alternative     p-unc     BF10    hedges
0   two-sided  0.120181    1.124 -0.993548
1   two-sided  0.000180  103.742  3.736397
2   two-sided  0.000012  991.786  5.484001